/*
 * account_profile.css
 * used in 'profile.html' template
 */

/* table th cell vertical middle */
/*
th.attachments {
    vertical-align: middle;
}
*/

/* ul padding margin */
td.attachments-data ul {
    padding-left: 15px;
    margin-bottom: 0px;
}

