{% extends 'base.html' %}
{% load staticfiles %}
{% load url from future %}
{% load bootstrap3 %}

{# step 4. activation complete #}

{% block pagetitle %}成功激活{% endblock %}

{% block content %}
  <div class="container">
    <h2>成功激活</h2>
    <p class="lead">您已成功激活账户。</p>

    <br>
    {% if user.is_authenticated %}
    <p><a href="{% url 'profile' %}" class="btn btn-primary">进入个人主页</a></p>
    {% else %}
    <p><a href="{% url 'login' %}" class="btn btn-primary">登录</a></p>
    {% endif %}
  </div>
{% endblock %}

{# vim: set ts=8 sw=2 tw=0 fenc=utf-8 ft=htmldjango.html: #}
