{% extends 'base.html' %}
{% load staticfiles %}
{% load url from future %}
{% load bootstrap3 %}

{# step 1. registration #}

{% block pagetitle %}注册{% endblock %}

{% block content %}
  <div class="container">
    <h2>注册账户</h2>
    <br>

    <form role="form" class="form-horizontal" method="post">
      {% csrf_token %}
      {% bootstrap_form form layout='horizontal' %}
      {% buttons submit='提交' reset='重置' layout='horizontal' %}{% endbuttons %}
    </form>
  </div>
{% endblock %}

{# vim: set ts=8 sw=2 tw=0 fenc=utf-8 ft=htmldjango.html: #}
