{% extends 'base.html' %}
{% load staticfiles %}
{% load url from future %}
{% load bootstrap3 %}

{# accommodation template #}

{% block title %}
住宿 | 2014 SKA Summer School
{% endblock %}

{% block content %}
  <div class="container">
    <h2>住宿情况</h2>
    <br>
推荐住宿：
上海交通大学学术活动中心（校园内）
标准间：368元。
高级房：400元。
联系电话：021-54750800
锦江之星酒店（闵行东川路店）
地址：上海市闵行区沪闵路319号（距离校门口约1公里）
标准间：211元起。
单人间：189元起。
联系电话：021-51101999
注：交通大学周围还有很多宾馆，大多数较为便宜的旅馆，可在百度地图中查找。
  </div>
{% endblock %}

{# vim: set ts=8 sw=2 tw=0 fenc=utf-8 ft=htmldjango.html: #}
