{% extends 'base.html' %}
{% load staticfiles %}
{% load url from future %}
{% load bootstrap3 %}

{# committee template #}

{% block pagetitle %}组委会{% endblock %}

{% block content %}
  <div class="container">
    <h2>2014 SKA 暑期学校组委会</h2>
    <br>

    <h3>科学组织委员会（SOC）</h3>
    <ul>
      <li>武向平（国家天文台）</li>
      <li>彭勃（国家天文台）</li>
      <li>秦波（国家天文台）</li>
      <li>洪晓瑜（上海天文台）</li>
      <li>沈志强（上海天文台）</li>
      <li>安涛（上海天文台）</li>
      <li>季向东（上海交通大学）</li>
      <li>王孝群（上海交通大学）</li>
      <li>景益鹏（上海交通大学）</li>
      <li>徐海光（上海交通大学）</li>
      <li>徐仁新（北京大学）</li>
      <li>Melanie Johnston-Hollitt（新西兰惠灵顿大学）</li>
    </ul>

    <h3>地方组织委员会（LOC）</h3>
    <ul>
      <li>武向平（上海交通大学）</li>
      <li>陈贵海（上海交通大学）</li>
      <li>徐海光（上海交通大学）</li>
      <li>朱卡的（上海交通大学）</li>
      <li>李晟（上海交通大学）</li>
      <li>刘成则（上海交通大学）</li>
      <li>田冰雪（上海交通大学）</li>
      <li>吴晓玲（上海交通大学）</li>
      <li>赵峰（上海交通大学）</li>
      <li>安涛（上海天文台）</li>
    </ul>
  </div>
{% endblock %}

{# vim: set ts=8 sw=2 tw=0 fenc=utf-8 ft=htmldjango.html: #}
