{% extends 'base.html' %}
{% load staticfiles %}
{% load url from future %}
{% load bootstrap3 %}

{# contact template #}

{% block title %}
联系我们 | 2014 SKA Summer School
{% endblock %}

{% block content %}
  <div class="container">
    <h2>联系我们</h2>
    <br>
    <ul class="list-unstyled">
      <li>联系人：赵锋，李晟</li>
      <li>电话：021-54745648</li>
      <li>邮箱：<a href="mailto:skaschool2014@163.com"><code>skaschool2014@163.com</code></a></li>
      <li>地址：上海市闵行区东川路800号交通大学物理与天文系</li>
      <li>邮编：200240</li>
    </ul>
  </div>
{% endblock %}

{# vim: set ts=8 sw=2 tw=0 fenc=utf-8 ft=htmldjango.html: #}
