{% extends 'base.html' %}
{% load staticfiles %}
{% load url from future %}
{% load bootstrap3 %}

{# sponsor template #}

{% block pagetitle %}赞助方{% endblock %}

{% block content %}
  <div class="container">
    <h2>2014 SKA 暑期学校赞助方</h2>
    <br>

    <ul class="list-unstyled sponsors">
      <li><strong><a href="http://www.most.gov.cn/" target="_blank">科学技术部</a></strong></li>
      <li><strong><a href="http://www.nsfc.gov.cn/" target="_blank">国家自然科学基金委员会</a></strong></li>
      <li><strong><a href="http://www.cas.cn/" target="_blank">中国科学院</a></strong></li>
      <li><strong><a href="http://www.sjtu.edu.cn/" target="_blank">上海交通大学</a></strong></li>
      <ul>
        <li><a href="http://www.physics.sjtu.edu.cn/" target="_blank">物理与天文系</a></li>
        <li><a href="http://www.jwc.sjtu.edu.cn/" target="_blank">教务处</a></li>
        <li><a href="http://www.gs.sjtu.edu.cn/" target="_blank">研究生院</a></li>
      </ul>
      <li><strong><a href="http://inpac.physics.sjtu.edu.cn/" target="_blank">上海市粒子物理宇宙学重点实验室</a></strong></li>
      <ul>
        <li><a href="http://www.sjtu.edu.cn/" target="_blank">上海交通大学</a></li>
        <li><a href="http://www.stcsm.gov.cn/" target="_blank">上海市科学技术委员会</a></li>
      </ul>
      <li><strong><a href="http://www.skatelescope.org/" target="_blank">国际SKA组织</a></strong>（SKA Orgnization）</li>
    </ul>
  </div>
{% endblock %}

{# vim: set ts=8 sw=2 tw=0 fenc=utf-8 ft=htmldjango.html: #}
