{% extends 'base.html' %}
{% load staticfiles %}
{% load url from future %}
{% load bootstrap3 %}

{# sponsor template #}

{% block title %}
赞助方 | 2014 SKA Summer School
{% endblock %}

{% block content %}
  <div class="container">
    <h2>2014 SKA 暑期学校赞助方</h2>
    <br>

    <ul>
      <li>科学技术部</li>
      <li>国家自然科学基金委员会</li>
      <li>中国科学院</li>
      <li>上海交通大学（物理与天文系、教务处、研究生院）</li>
      <li>上海市粒子物理宇宙学重点实验室（上海交通大学、上海市科委）</li>
      <li>国际SKA组织（SKA Orgnization）</li>
    </ul>
  </div>
{% endblock %}

{# vim: set ts=8 sw=2 tw=0 fenc=utf-8 ft=htmldjango.html: #}
