{% extends 'base.html' %}
{% load staticfiles %}
{% load url from future %}
{% load bootstrap3 %}

{# traffic template #}

{% block title %}
交通 | 2014 SKA Summer School
{% endblock %}

{% block content %}
  <div class="container">
    <h2>交通情况</h2>
    <br>
公交
地址：上海市 上海交通大学（闵行校区） （东川路800号） 
报到：（具体时间地点待定）
详细指南：
虹桥机场（火车站）-上海交大
出租车 全程约81元（不计夜间、等待时间）
地铁 虹桥机场（火车站）换乘10号线-虹桥路换乘4号线-上海体育馆换乘1号线-莘庄换乘5号线-东川路站下车。可选择步行（20-30分钟）或打车（郊区车12元，市区车14元）或乘坐公交虹桥枢纽4路（至永平路东川路站），闵莘线（永平路东川路站），闵行26路（至东川路沧源路站）至东川路800号。
公交 在虹桥枢纽东交通中心站乘坐虹桥枢纽4路，在永平路东川路站下车，步行至东川路800号。
浦东机场-上海交大
出租车 全程约173元（不计夜间、等待时间）
地铁 浦东机场换乘地铁2号线东延伸段-广兰路站换乘2号线-人民广场站换乘1号线-莘庄换乘5号线-东川路站下车。之后参照虹桥机场里的地铁路线。
上海火车站-上海交大
出租车 全程约121元 （不计夜间、等待时间）
地铁 上海火车站换乘地铁1号线-莘庄换乘5号线-东川路站下车。之后参照虹桥机场里的地铁路线
上海南站-上海交大
出租车 全程约70元 （不计夜间、等待时间）
地铁 上海南站换乘地铁1号线-莘庄换乘5号线-东川路站下车。之后参照虹桥机场的地铁路线。
注：1、除虹桥机场（火车站）外，不推荐乘坐公交车。若实在不方便乘坐出租车或地铁、可使用百度地图查看可用公交线路。
2、出租车费用仅供参考。
  </div>
{% endblock %}

{# vim: set ts=8 sw=2 tw=0 fenc=utf-8 ft=htmldjango.html: #}
