{% extends 'base.html' %}
{% load staticfiles %}
{% load url from future %}
{% load bootstrap3 %}

{# traffic template #}

{% block title %}
交通 | 2014 SKA Summer School
{% endblock %}

{% block content %}
  <div class="container">
    <h2>交通情况</h2>
    <br>
    <div class="alert alert-warning">
      内容待更新……
    </div>

    <div class="alert alert-info">
      <p>地点：上海交通大学闵行校区（上海市闵行区东川路800号）</p>
      <p>会场：（待定）</p>
    </div>

    <ul>
      <li>虹桥机场/虹桥火车站 <span class="glyphicon glyphicon-arrow-right"></span> 上海交大闵行校区</li>
      <ul>
        <li>出租车：全程约81元（不计夜间、等待时间）；约40分钟</li>
        <li>公交：乘坐虹桥枢纽4路，在永平路东川路站下车即到；约75分钟</li>
        <li>地铁：虹桥机场（火车站）换乘10号线-虹桥路换乘4号线-上海体育馆换乘1号线-莘庄换乘5号线-东川路站下车</li>
      </ul>
      <li>浦东机场 <span class="glyphicon glyphicon-arrow-right"></span> 上海交大闵行校区</li>
      <ul>
        <li>出租车：全程约173元（不计夜间、等待时间）</li>
        <li>地铁：浦东机场换乘地铁2号线东延伸段-广兰路站换乘2号线-人民广场站换乘1号线-莘庄换乘5号线-东川路站下车。之后参照虹桥机场里的地铁路线。</li>
      </ul>
      <li>上海火车站/长途汽车客运总站 <span class="glyphicon glyphicon-arrow-right"></span> 上海交大闵行校区</li>
      <ul>
        <li>出租车：全程约121元 （不计夜间、等待时间）</li>
        <li>地铁：上海火车站换乘地铁1号线-莘庄换乘5号线-东川路站下车。之后参照虹桥机场里的地铁路线</li>
      </ul>
      <li>上海火车南站/长途汽车客运南站 <span class="glyphicon glyphicon-arrow-right"></span> 上海交大闵行校区</li>
      <ul>
        <li>出租车：全程约70元 （不计夜间、等待时间）</li>
        <li>地铁：上海南站换乘地铁1号线-莘庄换乘5号线-东川路站下车。之后参照虹桥机场的地铁路线。</li>
      </ul>
      <li>上海火车西站/交通大众长途汽车站 <span class="glyphicon glyphicon-arrow-right"></span> 上海交大闵行校区</li>
    </ul>

    <p>可选择步行（20-30分钟）或打车（郊区车12元，市区车14元）或乘坐公交虹桥枢纽4路（至永平路东川路站），闵莘线（永平路东川路站），闵行26路（至东川路沧源路站）至东川路800号。</p>

    <p>
      注：<br>
      1、除虹桥机场（火车站）外，不推荐乘坐公交车。若实在不方便乘坐出租车或地铁、可使用百度地图查看可用公交线路。<br>
      2、出租车费用仅供参考。
    </p>
  </div>
{% endblock %}

{# vim: set ts=8 sw=2 tw=0 fenc=utf-8 ft=htmldjango.html: #}
