{% extends 'base.html' %}
{% load staticfiles %}
{% load url from future %}
{% load bootstrap3 %}

{# login template #}

{% block pagetitle %}修改密码{% endblock %}

{% block content %}
  <div class="container">
    <h2>修改密码</h2>
    <br>
    <form role="form" class="form-horizontal" method="post">
      {% csrf_token %}
      {% bootstrap_form form layout='horizontal' %}
      {% buttons submit='提交' reset='重置' layout='horizontal' %}{% endbuttons %}
    </form>
  </div>
{% endblock %}

{# vim: set ts=8 sw=2 tw=0 fenc=utf-8 ft=htmldjango.html: #}
