{% extends 'base.html' %}
{% load staticfiles %}
{% load url from future %}
{% load bootstrap3 %}

{# step1: password reset template #}

{% block pagetitle %}重置密码{% endblock %}

{% block content %}
  <div class="container">
    <h2>重置密码</h2>
    <br>
    <p>请在下面输入您注册时使用的邮箱地址，然后我们将发送邮件以帮助您重新设置密码。</p>
    <form role="form" class="form-horizontal" method="post">
      {% csrf_token %}
      {% bootstrap_form form layout='horizontal' %}
      {% buttons submit='提交' layout='horizontal' %}{% endbuttons %}
    </form>
  </div>
{% endblock %}

{# vim: set ts=8 sw=2 tw=0 fenc=utf-8 ft=htmldjango.html: #}
