{% extends 'base.html' %}
{% load staticfiles %}
{% load url from future %}
{% load bootstrap3 %}

{# step2: password reset done template #}

{% block title %}
已发送重置邮件 | 2014 SKA Summer School
{% endblock %}

{% block content %}
  <div class="container">
    <h2>已发送重置邮件</h2>
    <p>我们已经向您的邮件发送了重置密码邮件，请留意查收，并使用其中的链接重置密码。</p>
    <p>如果您未能收到邮件，请确认是否正确输入您当时注册使用的邮箱。如果仍有问题，请与我们联系：<a href="mailto:skaschool2014@163.com"><code>skaschool2014@163.com</code></a></p>
  </div>
{% endblock %}

{# vim: set ts=8 sw=2 tw=0 fenc=utf-8 ft=htmldjango.html: #}
