{% extends 'base.html' %}
{% load staticfiles %}
{% load url from future %}
{% load i18n %}
{% load bootstrap3 %}

{# login template #}

{% block title %}
个人主页 | 2014 SKA Summer School
{% endblock %}

{% block css_extra %}
  <link href="{% static 'css/account_profile.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="container">
    <h2>个人主页</h2>
    <br>

    {# display alert if 'reason' empty, or transcript required but not provided #}
    {% if not profile.reason %}
    <div class="alert alert-warning">
      “为什么参加”的信息是我们审核的重要参考，请您请及时填写。
    </div>
    {% endif %}
    {% if profile.is_transcript_required and not profile.transcript %}
    <div class="alert alert-warning">
      “成绩单”是我们审核本科生（大三及以下）和决定资助的重要参考，请您请及时上传。
    </div>
    {% endif %}

    <table class="table table-striped table-bordered table-hover">
      <tbody>
        <tr>
          <th class="profile-name">姓名</th>
          <td class="profile-name-data">{{ profile.realname }}</td>
        </tr>
        <tr>
          <th class="profile-gender">性别</th>
          <td class="profile-gender-data">
            {% if profile.gender == 'M' %}
            男
            {% elif profile.gender == 'F' %}
            女
            {% elif profile.gender == 'X' %}
            <span class="glyphicon glyphicon-ban-circle"></span>保密
            {% else %}
            <span class="glyphicon glyphicon-warning-sign"></span> <span class="label label-danger">系统错误</span>
            {% endif %}
          </td>
        </tr>
        <tr>
          <th class="profile-email">邮箱</th>
          <td class="profile-email-data">{{ user.email }}</td>
        </tr>
        <tr>
          <th class="profile-institute">单位</th>
          <td class="profile-institute-data">{{ profile.institute }}</td>
        </tr>
        <tr>
          <th class="profile-identify">身份</th>
          <td class="profile-identify-data">{% trans profile.get_identify_value %}</td>
        </tr>
        <tr>
          <th class="profile-reason">为什么参加</th>
          <td class="profile-reason-data">{% if profile.reason %}{{ profile.reason }}{% else %}<span class="label label-warning">请及时填写参加理由</span>{% endif %}</td>
        </tr>
        {% if profile.is_transcript_required or profile.transcript %}
        <tr>
          <th class="profile-transcript">成绩单</th>
          <td class="profile-transcript-data">{% if profile.transcript %}<a href="{{ profile.transcript.url }}">{{ profile.get_transcript_filename }}{% else %}<span class="label label-warning">请及时上传成绩单</span>{% endif %}</a></td>
        </tr>
        {% endif %}
        <tr>
          <th class="profile-supplement">补充说明</th>
          <td class="profile-supplement-data">{% if profile.supplement %}{{ profile.supplement }}{% else %}无{% endif %}</td>
        </tr>
        <tr>
          <th class="profile-approval">是否审定</th>
          <td class="profile-approval-data">
            {% if profile.is_approved == 'Y' %}
            <span class="glyphicon glyphicon-ok"></span> <span class="label label-success">是</span>
            {% elif profile.is_approved == 'N' %}
            <span class="glyphicon glyphicon-remove"></span> <span class="label label-warning">否</span>
            {% elif profile.is_approved == 'C' %}
            <span class="glyphicon glyphicon-question-sign"></span> <span class="label label-default">审核中</span>
            {% else %}
            <span class="glyphicon glyphicon-warning-sign"></span> <span class="label label-danger">系统错误</span>
            {% endif %}
          </td>
        </tr>
        <tr>
          <th class="profile-sponsorship">是否资助</th>
          <td class="profile-sponsorship-data">
            {% if profile.is_sponsored == 'Y' %}
            <span class="glyphicon glyphicon-ok"></span> <span class="label label-success">是</span>
            {% elif profile.is_sponsored == 'N' %}
            <span class="glyphicon glyphicon-remove"></span> <span class="label label-warning">否</span>
            {% elif profile.is_sponsored == 'C' %}
            <span class="glyphicon glyphicon-question-sign"></span> <span class="label label-default">审核中</span>
            {% else %}
            <span class="glyphicon glyphicon-warning-sign"></span> <span class="label label-danger">系统错误</span>
            {% endif %}
          </td>
        </tr>
        {# user uploaded files #}
        {% if userfiles %}
        <tr>
          <th class="attachments">附件</th>
          <td class="attachments-data">
            <ul>
              {% for attachment in userfiles %}
                <li><a href="{{ attachment.file.url }}">{{ attachment.title }}</a></li>
              {% endfor %}
            </ul>
          </td>
        </tr>
        {% endif %}
    </table>

    <br>
    <p>
      <a href="{% url 'profile_update' %}" class="btn btn-default">更新个人信息</a>
      <a href="{% url 'password_change' %}" class="btn btn-default">修改密码</a>
    </p>
  </div>
{% endblock %}

{# vim: set ts=8 sw=2 tw=0 fenc=utf-8 ft=htmldjango.html: #}
