<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
<title>500 Server Error </title>
</head>
<body>
  <h2>500 Server Error</h2>

  <p>Sorry, but the requested page is unavailable due to a
  server hiccup.</p>

  <p>Our engineers have been notified, so check back later.</p>

  <p>If needed please contact us: <a href="mailto:skaschool2014@163.com"><code>skaschool2014@163.com</code></a></p>
</body>
</html>

<!-- vim: set ts=8 sw=2 tw=0 fenc= ft=html: -->
