{% extends 'base.html' %}
{% load staticfiles %}
{% load url from future %}

{# index page for skaschool #}

{% block title %}
首页 | 2014 SKA Summer School
{% endblock %}

{% block css_extra %}
  <link href="{% static 'css/index.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="container">
    <h1>第二届 中国SKA暑期学校</h1>
    <h1>暨 中国-新西兰联合SKA暑期学校</h1>
    <h2>China-New Zealand Joint SKA Summer School</h2>

    <br>
    <p class="lead">
      上海，2014，6月28日-7月5日 <br>
      June 28 - July 05, 2014, Shanghai
    </p>

    <br>
    <p>
      <a href="{% url 'introduction' %}" class="btn btn-outline-inverse btn-lg">了解更多</a>
      {% if not user.is_authenticated %}
      <a href="{% url 'registration_register' %}" class="btn btn-outline-inverse btn-lg">注册参加</a>
      {% endif %}
    </p>
  </div>
{% endblock %} {# content #}

{% block footer %}
  <footer class="container" role="contentinfo">
    <ul class="masthead-links sponsors">
      <li>Sponsors:</li>
      <li><a href="http://www.most.gov.cn/" target="_blank">科学技术部</a></li>
      <li><a href="http://www.nsfc.gov.cn/" target="_blank">国家自然科学基金委员会</a></li>
      <li><a href="http://www.cas.cn/" target="_blank">中国科学院</a></li>
      <li><a href="http://www.sjtu.edu.cn/" target="_blank">上海交通大学</a></li>
      <li><a href="http://inpac.physics.sjtu.edu.cn/" target="_blank">上海市粒子物理宇宙学重点实验室</a></li>
      <li><a href="http://www.skatelescope.org/" target="_blank">SKA Orgnization</a></li>
    </ul>
    <ul class="masthead-links friends">
      <li>Links:</li>
      <li><a href="http://www.sjtu.edu.cn/" target="_blank">上海交通大学</a></li>
      <li><a href="http://www.physics.sjtu.edu.cn/" target="_blank">物理与天文系</a></li>
      <li><a href="http://skatelescope.org/" target="_blank">SKA Orgnization</a></li>
      <li><a href="http://21cma.bao.ac.cn/" target="_blank">21CMA</a></li>
      <li><a href="http://65m.shao.cas.cn/" target="_blank">上海65米射电望远镜</a></li>
      <li><a href="http://159.226.88.7/NGCA/meeting/NGCA_SummerSchool2014.html" target="_blank">2014射电天文暑期学校</a></li>
      <li><a href="http://ska2013.csp.escience.cn/" target="_blank">2013SKA暑期学校</a></li>
    </ul>
    <ul class="masthead-links">
      <li>Powered by:</li>
      <li><a href="https://www.djangoproject.com/" target="_blank">Django</a></li>
      <li><a href="http://getbootstrap.com/" target="_blank">Bootstrap</a></li>
    </ul>
    <br>
  </footer>
{% endblock %}

{% block js_extra %}
  <script src="{% static 'js/index.js' %}" type="text/javascript"></script>
{% endblock %}

{# vim: set ts=8 sw=2 tw=0 fenc=utf-8 ft=htmldjango.html: #}
