{# Meta infomation: to be included in 'base.html' #}
<meta name="keywords" content="SKA summer school,SKA暑期学校,skaschool,skaschool2014,SKA,summer school,暑期学校,中国SKA暑期学校,联合SKA暑期学校">
<meta name="description" content="平方公里阵(SKA)是计划中的下一代巨型射电望远镜阵，该项目由全球十多个国家共同出资建造，中国是创始成员国之一。作为中国SKA人才培养计划的一个重要环节，中国SKA暑期学校将每年举办一届，面向在校学校（尤其是有志于天文与物理事业的本科生）和青年学者。2014年6月28日至7月5日将于上海交通大学（闵行校区）举办第二届SKA暑期学校，自本届起，暑期学校将由中国和新西兰联合举办。">
<meta name="author" content="2014第二届中国SKA暑期学校">
<meta name="application-name" content="skaschool2014">
{# vim: set ts=8 sw=2 tw=0 fenc=utf-8 ft=htmldjango.html: #}
